.con-box {
  display: flex;
  justify-content: space-between;
}
.con-box article {
  width: 100px;
  height: 100px;
  background: hotpink;
  padding: 5px;
}
.con-box article h3 {
  font-size: 20px;
}
